* {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  background: #f6f7f3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

#root {
  min-height: 100vh;
}

h1,
h2,
h3,
p {
  margin: 0;
}
